* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    margin: 0;
}


header {
    background: linear-gradient(135deg, #4923B4 0%, #E878CF 100%);
    color: white;
    padding: 38px 0px 112px 50px;
    height: 800px;
    border-bottom-right-radius: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: medium;
}

.main-menu img {
    width: 146px;
    height: 17px;
}

.main-menu a.logo {
    display: inline-flex;
    align-items: center;
}

div.head-links{
    display: flex;
    gap: 30px;
}

div.personal-links{
    display: flex;
    gap: 30px;
}

.personal-links a{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner img {
    width: 671px;
    height: 678px;
    padding-bottom: 53px;
}

.banner-text {
    padding-left: 85px;
}

.banner-text h1 {
    max-width: 660px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.banner-text p {
    max-width: 527px;
    font-size: 22px;
    margin: 0;
    margin-top: 10px;
}

.banner-text button {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: semi-bold;
    cursor: pointer;
}

.banner-text .check {
    padding: 10px 24px;
    color: white;
    background-color: #FF00C7;
    border: 1px solid #FF00C7;
    border-radius: 12px;
    margin-top: 31px;
}

.banner-text .learn {
    padding: 10px 24px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 31px;
    margin-left: 20px;
    transition: background-color 0.4s, color 0.4s;
}

.banner-text .learn:hover {
    background-color: white;
    color: black;
}

main {
    padding-bottom: 60px;
}

.partners h2 {
    margin: 0;
    font-size: 40px;
    text-align: center;
    margin-top: 42px;
    font-weight: 600;
    color: #464747;
}

.partners-logos img {
    height: 45.79px;
    width: auto;
}

.partners-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 40.22px;
}

.courses {
    margin-top: 90px;
    padding: 0 136px;
}

.courses h2 {
    font-size: 44px;
    font-weight: 600;
    color: black;
    margin: 0;   
}

.course-categories {
    display: flex;
    justify-content: start;
    gap: 30px;
}

.course-categories a {
    text-decoration: none;
    color: #787878;
    font-size: 17px;
}

.course-categories a.active {
    color: #5027B5;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 2px solid #5027B5;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 50px;
}

.course-item {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 277px;

}

.course-item img {
    width: 100%;
    border-radius: 12px;
}

.course-description {
    padding: 18px;
    width: 277px;
    height: 211px;
}

.course-description .no-move {
    height: 95px;
}

.course-description .label {
    font-size: 12px;
    color: #666768;
    font-weight: medium;
    background-color: #EAEAEA;
    border-radius: 7px;
    padding: 7px 16px;
    width: fit-content;
    height: 32px;
    margin: 0;
}

.course-description h3 {
    margin: 0;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: 13px;
}

.course-description p {
    margin: 0;
    font-size: 12px;
    margin-top: 5px;
}

.course-description .rating {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 8px;
}

.course-description span {
    color: #EBE100;
    font-size: 16px;
}

.rating p {
    margin: 0;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.course-description .price {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #5027B5;
}

.course-description button {
    font-family: Poppins, sans-serif;
    border-radius: 6px;
    padding: 6px 18px;
    border: 1px solid #5027B5;
    background-color: rgba(0, 0, 0, 0);
    color: #5027B5;
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s;
}

.course-description button:hover {
    background-color: #5027B5;
    color: white;
    cursor: pointer;
}

.show-more {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #5027B5;
    font-weight: medium;
    font-size: 17px;
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.services {
    padding: 90px 195px;
}

.services h2 {
    font-size: 44px;
    font-weight: 600;
    color: black;
    margin: 0;
    text-align: center;
}

.services p {
    font-size: 16px;
    color: #666768;
    text-align: center;
    width: 673px;
    height: 48px;
    margin: auto;
    margin-top: 10px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-template-rows: auto;
    margin-top: 60px;
}

.service-item {
    padding: 25px;
}

.service-item img {
    width: 33px;
    height: 33px;
}

.service-item h3 {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin: 0;
    margin-top: 11.67px;
}

.service-item p {
    width: 297px;
    height: 96px;
    text-align: left;
    margin: 0;
    margin-top: 15px;
}

section.ad-banner-1 {
    margin-top: 60px;
}

div.ad-banner-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 476px 555px;
    grid-template-rows: 578px;
    justify-content: space-between;
    padding: 30px 149px 30px 147px;
    gap: 113px;
}

.ad-banner-1 .ad-photo {
    background-image: url("../media/Group 14613.png");
    background-size: 475px 456.13px;
    background-repeat: no-repeat;
    grid-column: 1;
    padding: 58px 59px 0 58px;
}

.ad-banner-1 .ad-photo img {
    grid-column: 1;
    grid-row: 1;
    width: 359px;
    height: 520px;
}

div.ad-text {
    margin: 0;
}

.ad-banner-1 .ad-text {
    grid-column: 2;
    grid-row: 1;
    padding: 105px 0 185px 0;
    margin: 0;
    padding: 0;
}

.ad-text h2 {
    font-size: 44px;
    font-weight: 600;
    color: black;
    margin: 0;
}

.ad-text p {
    font-size: 20px;
    color: #666768;
    margin: 0;
    margin-top: 20px;
    text-align: justify;
}

.ad-text button {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: medium;
    cursor: pointer;
    padding: 12px 39px;
    color: white;
    background-color: #AC85FF;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
}

section.ad-banner-2 {
    margin-top: 60px;
}

div.ad-banner-2 {
    display: grid;
    place-items: center;
    grid-template-columns: 555px 463px;
    grid-template-rows: 564px;
    justify-content: space-between;
    padding: 30px 149px 30px 147px;
    gap: 126px;
}

.ad-banner-2 .ad-photo {
    background-image: url("../media/Group 14693.png");
    background-size: 463px 564px;
    background-repeat: no-repeat;
    grid-column: 2;
    padding: 80px 86px 0 61px;
}

.ad-banner-2 .ad-text {
    grid-column: 1;
    grid-row: 1;
    padding: 105px 0 185px 0;
    margin: 0;
    padding: 0;
}

.ad-banner-2 .ad-photo img {
    grid-column: 2;
    grid-row: 1;
    width: 316px;
    height: 484px;
}

button.read-more {
    background-color: #5228B6;
}

.news {
    margin-top: 90px;
    background-image: url("../media/Rectangle\ 1069.png");
    background-size: 100% 375px;
    background-repeat: no-repeat;
}

.news h2 {
    font-size: 44px;
    font-weight: 600;
    color: black;
    margin: 0;
    padding-top: 30px;
    text-align: center;
    width: 365px;
    margin: auto;
}

.news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-template-rows: auto;
    margin-top: 40px;
    padding: 0 225px;
    height: 373px;
}

.news-item {
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 313px;
}

.news-item img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.news-content {
    padding: 15px 20px;
}

.label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news-label {
    font-size: 14px;
    color: #787878;
    font-weight: medium;
}

.name-and-label img {
    width: 20px;
    height: 20px;
}

.name-and-label h3 {
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-top: 15px;
}

.date-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}



p.news-date {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888888;
    gap: 5px;
    margin: 0;
}

.news-date img {
    width: 20px;
    height: 20px;
}

.read-news {
    font-family: Montserrat, sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #5027B5;
    font-size: 14px;
    font-weight: 600;
}

.read-news img {
    width: 20px;
    height: 20px;
}

section.subscription {
    display: grid;
    place-items: center;
    grid-template-columns: 464px 500px;
    grid-template-rows: 464px;
    margin-top: 90px;
    padding: 1px 201px 30px 201px;
    gap: 96px;
}

.subscription img {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    width: 464px;
    height: 464px;
}

.subscription-text {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    padding: 0;
}

.subscription-text h2 {
    font-size: 35px;
    font-weight: 500;
    color: #5228B6;
    margin: 0;
}

.subscription-text p {
    font-size: 16px;
    color: #666768;
    text-align: justify;
    margin: 0;
    margin-top: 5px;
    width: 471px;
}

.subscription-text .subscription-form {
    margin-top: 60px;
    display: flex;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.subscription-form input {
    font-family: Poppins, sans-serif;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    font-size: 13px;
    font-weight: medium;
    color: #5228B6;
}

.subscription-form input::placeholder {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: medium;
    color: #5228B6;
}

.subscription-form input:focus {
    outline: none;
}

.subscription-form button {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: medium;
    cursor: pointer;
    padding: 12px 39px;
    color: white;
    background-color: #5228B6;
    border: none;
    border-radius: 12px;
    margin-left: auto;
}

footer {
    background-color: black;
    color: white;
    margin-top: 60px;
    padding: 65px 144px 50px 135px;
}

.footer-section-about img {
    width: 198px;
    height: 23px;
}

.footer-section-about {
    width: 232px;
    height: 101px;
}

.footer-content {
    display: flex;
}

p.footer-string {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #BDB9B9;
    font-size: 12px;

}

.footer-section-about p {
    font-size: 14px;
    color: white;
    margin: 0;
    margin-top: 15px;
}

.footer-section-links {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 72px;
    padding: 0 0 75px 318px;
}
.footer-section-links a {
    margin: 0;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

.footer-section-links h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.get-in-touch p {
    width: 233px;
    margin: 0;
}

.get-in-touch .social-icons {
    display: flex;
    gap: 13px;
    margin-top: 15px;
}

.get-in-touch .social-icons img {
    width: 32px;
    height: 32px;
}
